### Elon Musk's Tweets via Kaggle

Timestamps:

- 4 iunie 2010 - 17 aprilie 2021
- 17 aprilie 2021 - 5 iulie 2022
- 5 iulie 2022 - 13 mai 2023

Libraries

In [1]:
import pandas as pd
import re
import numpy as np
import string

from ipynb.fs.full.data_quality_stats import emoji_extractor, clean_emoji, clean_tweets

**Data from 2010 till 17th April 2021**

Source: https://www.kaggle.com/datasets/andradaolteanu/all-elon-musks-tweets

In [2]:
df_10_21 = pd.read_csv("../date Kaggle tweets/TweetsElonMusk.csv")
df_10_21.head(2)

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1381273474400800773,1381002894032347138,2021-04-11 18:50:33 EEST,2021-04-11,18:50:33,300,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'vincent13031925', 'name': 'V...",NaN,NaN,NaN,NaN
1,1381273076709478403,1372444955050971142,2021-04-11 18:48:58 EEST,2021-04-11,18:48:58,300,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [3]:
columns_to_drop = ['time', 'timezone', 'place', 'language', 'mentions', 'urls',
                  'photos', 'hashtags', 'cashtags', 'link', 'quote_url', 'video', 'thumbnail', 'near', 'geo',
                  'source', 'user_rt_id', 'user_rt', 'retweet_id', 'reply_to', 'retweet_date', 'translate', 
                  'trans_src', 'trans_dest']

In [4]:
df_10_21.drop(columns_to_drop, axis=1, inplace=True)
# df_10_21.head()

In [5]:
df_10_21['date'].info() # --> initial it was stored as object, not as date
df_10_21['date'] = pd.to_datetime(df_10_21['date'])
df_10_21['date'].info() # stored as datetime

df_10_21['created_at'].info() # --> initial it was stored as object, not as date
df_10_21['created_at'] = pd.to_datetime(df_10_21['created_at']).dt.tz_localize(None)
df_10_21['created_at'].info() # stored as datetime

<class 'pandas.core.series.Series'>
RangeIndex: 12562 entries, 0 to 12561
Series name: date
Non-Null Count  Dtype
--------------  -----
12562 non-null  object
dtypes: object(1)
memory usage: 98.3+ KB
<class 'pandas.core.series.Series'>
RangeIndex: 12562 entries, 0 to 12561
Series name: date
Non-Null Count  Dtype
--------------  -----
12562 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 98.3 KB
<class 'pandas.core.series.Series'>
RangeIndex: 12562 entries, 0 to 12561
Series name: created_at
Non-Null Count  Dtype
--------------  -----
12562 non-null  object
dtypes: object(1)
memory usage: 98.3+ KB
<class 'pandas.core.series.Series'>
RangeIndex: 12562 entries, 0 to 12561
Series name: created_at
Non-Null Count  Dtype
--------------  -----
12562 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 98.3 KB

In [6]:
df_10_21.shape

(12562, 12)

*So we need data from 17th April 2021 - 5th July 2022*

**Data from 4th June 2010 till 26th December 2022**
*We extract data from 17th April 2021 till 5 July 2022*

Source: https://www.kaggle.com/datasets/alexhuggler/elon-tweets-wsentimentclassified-via-roberta

In [7]:
df_10_22 = pd.read_csv("../date Kaggle tweets/ElonTweets(Sentiment)_12-25-22.csv")
df_10_22.head(2)

,Unnamed: 0.1,Unnamed: 0,Datetime,Tweet Id,Text,Username,location,reply count,retweet count,like count,language,Twitter Access Point,Follower Count,Friends Count,verified,Date,mentions,sentiment
0,0,0,2022-12-26 00:11:00+00:00,1607167057573085184,@nixcraft lol,elonmusk,NaN,217,53,1439,und,Twitter for iPhone,123153718,162,True,2022-12-26,nixcraft,"['neutral', 0.55792016]"
1,1,1,2022-12-26 00:07:26+00:00,1607166156275879937,@catehall Luck is the greatest superpower,elonmusk,NaN,782,507,7127,en,Twitter for iPhone,123153718,162,True,2022-12-26,catehall,"['positive', 0.8802294]"

In [8]:
columns_to_drop = ['Unnamed: 0.1', 'Unnamed: 0', 'location', 'language', 'Twitter Access Point', 'verified', 
                   'mentions', 'sentiment']

In [9]:
df_10_22.drop(columns_to_drop, axis=1, inplace=True)

In [10]:
df_10_22 = df_10_22.rename(columns={"Tweet Id": "conversation_id", "Datetime": "created_at", "Text":'tweet', 
                                    'reply count': 'replies_count','retweet count':'retweets_count', 
                                    'like count':"likes_count", 'Date':'date','Username': 'username', 
                                    ' Friends Count':'user_friends', 'Follower Count':'user_followers'})
df_10_22.head(3)

,created_at,conversation_id,tweet,username,replies_count,retweets_count,likes_count,user_followers,user_friends,date
0,2022-12-26 00:11:00+00:00,1607167057573085184,@nixcraft lol,elonmusk,217,53,1439,123153718,162,2022-12-26
1,2022-12-26 00:07:26+00:00,1607166156275879937,@catehall Luck is the greatest superpower,elonmusk,782,507,7127,123153718,162,2022-12-26
2,2022-12-25 22:56:49+00:00,1607148387799011328,@ashleevance kek,elonmusk,1550,1229,18401,123153718,162,2022-12-25

In [11]:
df_10_22['created_at'] = pd.to_datetime(df_10_22['created_at']).dt.tz_localize(None)
df_10_22['date'] = pd.to_datetime(df_10_22['date'])
# df_10_22['created_at'].info() # stored as datetime

In [12]:
df_10_22.shape

(19190, 10)

###### Create a copy for df_10_22 so that we have data from 17th April 2021 until 5th July 2022

In [13]:
df_22_subset = df_10_22.loc[(df_10_22['date'] >= '2021-04-17') & 
                                (df_10_22['date'] <= '2022-07-05')]

In [14]:
df_22_subset.head(3)

,created_at,conversation_id,tweet,username,replies_count,retweets_count,likes_count,user_followers,user_friends,date
2972,2022-07-05 17:55:09,1544379368478212100,@BillyM2k I find the gold toe sock â€“ inevitabl...,elonmusk,1002,296,6214,123153823,162,2022-07-05
2973,2022-07-05 17:47:42,1544377493263720450,"Sock Con, the conference for socks",elonmusk,2680,1411,29876,123153823,162,2022-07-05
2974,2022-07-05 17:46:15,1544377130590552064,Always something new for the magazine cover an...,elonmusk,1556,1251,27787,123153823,162,2022-07-05

In [15]:
df_10_21.shape

(12562, 12)

In [16]:
df_22_subset.shape

(4136, 10)

Concatenate the two dataframes so that we have data from 2010 till 2022

In [17]:
result_df = pd.concat([df_10_21, df_22_subset], axis = 0)  
result_df.shape

(16698, 14)

In [18]:
result_df = result_df.rename(columns={'retweet':'is_retweet'})
result_df.sort_values(by=['date'], inplace=True) 
values = {"user_id": 44196397, "user_name": 'elonmusk', "name": 'Elon Musk'}
result_df = result_df.fillna(value=values)

result_df.head(3)

,id,conversation_id,created_at,date,user_id,username,name,tweet,replies_count,retweets_count,likes_count,is_retweet,user_followers,user_friends
12514,1.543473e+10,15434727182,2010-06-04 21:31:57,2010-06-04,44196397.0,elonmusk,Elon Musk,"Please ignore prior tweets, as that was someon...",398,349,4710,False,NaN,NaN
12513,1.421799e+17,142179928203460608,2011-12-01 11:55:11,2011-12-01,44196397.0,elonmusk,Elon Musk,Went to Iceland on Sat to ride bumper cars on ...,31,16,191,False,NaN,NaN
12512,1.421885e+17,142188458125963264,2011-12-01 12:29:04,2011-12-01,44196397.0,elonmusk,Elon Musk,I made the volume on the Model S http://t.co/...,31,9,79,False,NaN,NaN

**JOIN** DATA FROM 2010 - 5th JULY 2022 TO DATA FROM 5th JULY 2022 - 13 MAY 2023

**Data from 5th July 2022 till 13th May 2023**

Source: https://www.kaggle.com/datasets/gpreda/elon-musk-tweets

In [19]:
df_2022_2023 = pd.read_csv("../date Kaggle tweets/elon_musk_tweets.csv")
df_2022_2023

,id,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,retweets,favorites,is_retweet
0,1544379368478212100,Elon Musk,NaN,"Mars & Cars, Chips & Dips",2009-06-02 20:12:29+00:00,101240855,115,13503,True,2022-07-05 17:55:09+00:00,@BillyM2k I find the gold toe sock â€“ inevitabl...,NaN,Twitter for iPhone,335,6542,False
1,1544377493263720450,Elon Musk,NaN,"Mars & Cars, Chips & Dips",2009-06-02 20:12:29+00:00,101240806,115,13503,True,2022-07-05 17:47:42+00:00,"Sock Con, the conference for socks",NaN,Twitter for iPhone,1451,30753,False
2,1544377130590552064,Elon Musk,NaN,"Mars & Cars, Chips & Dips",2009-06-02 20:12:29+00:00,101240806,115,13503,True,2022-07-05 17:46:15+00:00,Always something new for the magazine cover an...,NaN,Twitter for iPhone,1284,28610,False
3,1544375575724400645,Elon Musk,NaN,"Mars & Cars, Chips & Dips",2009-06-02 20:12:29+00:00,101240806,115,13503,True,2022-07-05 17:40:05+00:00,@ExplainThisBob This guy gets it,NaN,Twitter for iPhone,131,3640,False
4,1544375148605853699,Elon Musk,NaN,"Mars & Cars, Chips & Dips",2009-06-02 20:12:29+00:00,101240806,115,13503,True,2022-07-05 17:38:23+00:00,Sock tech is so advanced that you can get pret...,NaN,Twitter for iPhone,1191,23790,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5227,1653949097970393089,Elon Musk,NaN,NaN,2009-06-02 20:12:29+00:00,139450414,294,23383,False,2023-05-04 02:26:08+00:00,@zerohedge Itâ€™s almost like thereâ€™s a pattern,NaN,Twitter for iPhone,1601,25557,False
5228,1653932618357022720,Elon Musk,NaN,NaN,2009-06-02 20:12:29+00:00,139450414,294,23383,False,2023-05-04 01:20:39+00:00,@RebelNewsOnline Interesting,NaN,Twitter for iPhone,1241,9821,False
5229,1653891787025690624,Elon Musk,NaN,NaN,2009-06-02 20:12:29+00:00,139450414,294,23383,False,2023-05-03 22:38:24+00:00,@JonErlichman 14 years ago,NaN,Twitter for iPhone,780,14869,False
5230,1653847700780249089,Elon Musk,NaN,NaN,2009-06-02 20:12:29+00:00,139450414,294,23383,False,2023-05-03 19:43:13+00:00,@realMeetKevin @Tesla Always tough with margin...,NaN,Twitter for iPhone,965,20502,False
5231,1653790887800078336,Elon Musk,NaN,NaN,2009-06-02 20:12:29+00:00,139450414,294,23383,False,2023-05-03 15:57:28+00:00,@Rainmaker1973 OhÂ brave new world,NaN,Twitter for iPhone,1064,12965,False

In [20]:
columns_to_drop = ['user_location', 'user_description', 'user_created', 'user_verified', 'hashtags', 'source']

In [21]:
df_2022_2023.drop(columns_to_drop, axis=1, inplace=True)
df_2022_2023.head(2)

,id,user_name,user_followers,user_friends,user_favourites,date,text,retweets,favorites,is_retweet
0,1544379368478212100,Elon Musk,101240855,115,13503,2022-07-05 17:55:09+00:00,@BillyM2k I find the gold toe sock â€“ inevitabl...,335,6542,False
1,1544377493263720450,Elon Musk,101240806,115,13503,2022-07-05 17:47:42+00:00,"Sock Con, the conference for socks",1451,30753,False

In [22]:
df_2022_2023 = df_2022_2023.rename(columns={'date':'created_at', "user_name":'name', 'text':'tweet',
                                           'retweets':'retweets_count', 'favorites':'likes_count'})

In [23]:
df_2022_2023.info()
df_2022_2023['created_at'].info() # --> initial it was stored as object, not as date

df_2022_2023['created_at'] = pd.to_datetime(df_2022_2023['created_at']).dt.tz_localize(None)
df_2022_2023['created_at'].info() # stored as datetime

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5232 entries, 0 to 5231
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               5232 non-null   int64
 1   name             5232 non-null   object
 2   user_followers   5232 non-null   int64
 3   user_friends     5232 non-null   int64
 4   user_favourites  5232 non-null   int64
 5   created_at       5232 non-null   object
 6   tweet            5232 non-null   object
 7   retweets_count   5232 non-null   int64
 8   likes_count      5232 non-null   int64
 9   is_retweet       5232 non-null   bool
dtypes: bool(1), int64(6), object(3)
memory usage: 373.1+ KB
<class 'pandas.core.series.Series'>
RangeIndex: 5232 entries, 0 to 5231
Series name: created_at
Non-Null Count  Dtype
--------------  -----
5232 non-null   object
dtypes: object(1)
memory usage: 41.0+ KB
<class 'pandas.core.series.Series'>
RangeIndex: 5232 entries, 0 to 5231
Series name: created_at
Non-Null Count  Dtype
--------------  -----
5232 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 41.0 KB

In [24]:
result_df.shape

(16698, 14)

In [25]:
df_2022_2023.shape

(5232, 10)

In [26]:
df_10_23 = pd.concat([result_df, df_2022_2023], axis=0)
df_10_23.head(2)

,id,conversation_id,created_at,date,user_id,username,name,tweet,replies_count,retweets_count,likes_count,is_retweet,user_followers,user_friends,user_favourites
12514,1.543473e+10,1.543473e+10,2010-06-04 21:31:57,2010-06-04,44196397.0,elonmusk,Elon Musk,"Please ignore prior tweets, as that was someon...",398.0,349,4710,False,NaN,NaN,NaN
12513,1.421799e+17,1.421799e+17,2011-12-01 11:55:11,2011-12-01,44196397.0,elonmusk,Elon Musk,Went to Iceland on Sat to ride bumper cars on ...,31.0,16,191,False,NaN,NaN,NaN

In [27]:
values = {"user_id": 44196397, "username": 'elonmusk'}
df_10_23 = df_10_23.fillna(value=values)
df_10_23.head()

,id,conversation_id,created_at,date,user_id,username,name,tweet,replies_count,retweets_count,likes_count,is_retweet,user_followers,user_friends,user_favourites
12514,1.543473e+10,1.543473e+10,2010-06-04 21:31:57,2010-06-04,44196397.0,elonmusk,Elon Musk,"Please ignore prior tweets, as that was someon...",398.0,349,4710,False,NaN,NaN,NaN
12513,1.421799e+17,1.421799e+17,2011-12-01 11:55:11,2011-12-01,44196397.0,elonmusk,Elon Musk,Went to Iceland on Sat to ride bumper cars on ...,31.0,16,191,False,NaN,NaN,NaN
12512,1.421885e+17,1.421885e+17,2011-12-01 12:29:04,2011-12-01,44196397.0,elonmusk,Elon Musk,I made the volume on the Model S http://t.co/...,31.0,9,79,False,NaN,NaN,NaN
12511,1.428809e+17,1.428809e+17,2011-12-03 10:20:28,2011-12-03,44196397.0,elonmusk,Elon Musk,"Great Voltaire quote, arguably better than Twa...",7.0,24,30,False,NaN,NaN,NaN
12510,1.428813e+17,1.428813e+17,2011-12-03 10:22:07,2011-12-03,44196397.0,elonmusk,Elon Musk,That was a total non sequitur btw,29.0,6,52,False,NaN,NaN,NaN

In [28]:
df_10_23.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21930 entries, 12514 to 5231
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               17794 non-null  float64
 1   conversation_id  16698 non-null  float64
 2   created_at       21930 non-null  datetime64[ns]
 3   date             16698 non-null  datetime64[ns]
 4   user_id          21930 non-null  float64
 5   username         21930 non-null  object
 6   name             21930 non-null  object
 7   tweet            21930 non-null  object
 8   replies_count    16698 non-null  float64
 9   retweets_count   21930 non-null  int64
 10  likes_count      21930 non-null  int64
 11  is_retweet       17794 non-null  object
 12  user_followers   9368 non-null   float64
 13  user_friends     9368 non-null   float64
 14  user_favourites  5232 non-null   float64
dtypes: datetime64[ns](2), float64(7), int64(2), object(4)
memory usage: 2.7+ MB

In [29]:
df_10_23 = df_10_23.astype({'id': 'Int64', 'conversation_id': 'Int64', 'user_id':'Int64',
                            'replies_count': 'Int64', 'user_favourites': 'Int64', 'user_followers': 'Int64',
                           'user_friends': 'Int64', 'retweets_count': 'Int64', 'likes_count': 'Int64'})

df_10_23.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21930 entries, 12514 to 5231
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               17794 non-null  Int64
 1   conversation_id  16698 non-null  Int64
 2   created_at       21930 non-null  datetime64[ns]
 3   date             16698 non-null  datetime64[ns]
 4   user_id          21930 non-null  Int64
 5   username         21930 non-null  object
 6   name             21930 non-null  object
 7   tweet            21930 non-null  object
 8   replies_count    16698 non-null  Int64
 9   retweets_count   21930 non-null  Int64
 10  likes_count      21930 non-null  Int64
 11  is_retweet       17794 non-null  object
 12  user_followers   9368 non-null   Int64
 13  user_friends     9368 non-null   Int64
 14  user_favourites  5232 non-null   Int64
dtypes: Int64(9), datetime64[ns](2), object(4)
memory usage: 2.9+ MB

Cleaning Tweets

In [30]:
df_10_23_cleaned = df_10_23.copy()

In [31]:
# Clean Tweets
df_10_23_cleaned = clean_tweets(df=df_10_23_cleaned)

In [32]:
df_10_23_cleaned.shape

(21930, 16)

In [33]:
# Retrieve only Bitcoin Information
bitcoin_tweets = df_10_23_cleaned[df_10_23_cleaned["tweet"].str.contains("bitcoin", 'BTC')].reset_index(drop = True)

# Retrieve only Dogecoin Information
dogecoin_tweets = df_10_23_cleaned[df_10_23_cleaned["tweet"].str.contains("dogecoin")].reset_index(drop = True)

# Retrieve only Tesla Information
tesla_tweets = df_10_23_cleaned[df_10_23_cleaned["tweet"].str.contains("tesla")].reset_index(drop = True)

In [34]:
bitcoin_tweets.shape

(29, 16)

In [35]:
dogecoin_tweets.shape

(23, 16)

In [36]:
tesla_tweets.shape

(1392, 16)

In [37]:
# df_10_23.to_csv('Elon Musk tweets all.csv')
# df_10_23_cleaned.to_csv('Elon Musk tweets cleaned.csv')

# bitcoin_tweets.to_csv('Elon Musk tweets about BTC.csv')
# dogecoin_tweets.to_csv('Elon Musk tweets about DOGE.csv')
# tesla_tweets.to_csv('Elon Musk tweets about TSLA.csv')